<!-- Nav tabs -->
<div class="col-12 mb-4">
    <div class="card shadow">
        <div class="card-body">

            <ul class="nav process-model more-icon-preocess mt-2 d-flex justify-content-center" role="tablist">
                <li class="active">
                    <a href="#tab_01" aria-controls="tab_01" role="tab" data-toggle="tab">
                        <i class="fa fa-id-card" aria-hidden="true"></i>
                        <p>ขั้นตอนที่ 1</p>
                    </a>
                </li>
                <li>
                    <a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">
                        <i class="fa fa-user-edit" aria-hidden="true"></i>
                        <p>ขั้นตอนที่ 2</p>
                    </a>
                </li>
                <li role="presentation">
                    <a href="#tab_03" aria-controls="tab_03" role="tab" data-toggle="tab">
                        <i class="fa fa-user-check" aria-hidden="true"></i>
                        <p>ขั้นตอนที่ 3</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>
<!-- end design process steps-->