@using cntr = Weable.TMS.Web.Controllers.CourseController
@model Weable.TMS.Web.Models.EditCourseModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="edit-form" asp-action="@cntr.ActionEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="@cntr.ActionList">Back to List</a>
</div>

@section Scripts{
    <script>
    var __return_url = '@Html.Raw('/'+@cntr.Name+'/'+@cntr.ActionList)';
    $(document).ready(function () {
        $("#edit-form").submit(function (e) {
            e.preventDefault();
            weSaveForm($(this), function () {
                window.location.href = __return_url;
            });
        });
    });
    </script>
}
