
@{
    ViewData["Title"] = "Details";
}

<div>
    <img src="~/images/banner1.svg" />
</div>

<div style="background: linear-gradient(90deg, #0F7E9B 50%, #DEAE40 50%)">
    <div class="container">
        <div class="row text-white">
            <div class="col-6 py-3">
                <h3 class="font-weight-bold">ชื่อหลักสูตร</h3>
                <h4>ดำน้ำ ดูประการัง ปลูกป่า ดำนา ดูดิสนี่ออนไอซ์ นั่งเรือ ส่องสัตว์ ดูงิ้ว ดูละครเวที</h4>
            </div>
            <div class="col-6">test</div>
        </div>
    </div>
</div>

