/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.preloader {
    width: 100%;
    height: 100%;
    top: 0px;
    position: fixed;
    z-index: 99999;
    background: #fff;
}

    .preloader .spinner {
        width: 80px;
        height: 80px;
        position: absolute;
        top: calc(50% - 40px);
        left: calc(50% - 40px);
    }

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #0F7E9B;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.table-border-bottom {
    border-bottom: solid 2px #dddddd;
}

.thead-style {
    border-bottom: solid 2px #0F7E9B;
}

.title {
    color: #0F7E9B;
}



.process-model {
    list-style: none;
    padding: 0;
    position: relative;
    border: none;
    z-index: 0;
}

.process-model li::after {
    background: #e5e5e5 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    margin-left: 10%;
    position: absolute;
    top: 33px;
    width: 20%;
    z-index: -1;
}

.process-model li.visited::after {
    background: #0F7E9B;
}

.process-model li:last-child::after {
    width: 0;
}

.process-model li {
    display: inline-block;
    width: 18%;
    text-align: center;
    float: none;
}

.nav-tabs.process-model > li.active > a, .nav-tabs.process-model > li.active > a:hover, .nav-tabs.process-model > li.active > a:focus, .process-model li a:hover, .process-model li a:focus {
    border: none;
    background: transparent;
}

.process-model li a {
    padding: 0;
    border: none;
    color: #606060;
    text-decoration: none;
}

.process-model li.active,
.process-model li.visited {
    color: #0F7E9B;
}

.process-model li.active a,
.process-model li.active a:hover,
.process-model li.active a:focus,
.process-model li.visited a,
.process-model li.visited a:hover,
.process-model li.visited a:focus {
    color: #0F7E9B;
}

.process-model li.active p,
.process-model li.visited p {
    font-weight: 400;
}

.process-model li i {
    display: block;
    height: 68px;
    width: 68px;
    text-align: center;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #e5e5e5;
    line-height: 65px;
    font-size: 30px;
    border-radius: 50%;
}

.process-model li.active i, .process-model li.visited i {
    background: #fff;
    border-color: #0F7E9B;
}

.process-model li p {
    font-size: 16px;
    margin-top: 11px;
    margin-bottom: 0;
}

@media screen and (max-width: 560px) {
    .more-icon-preocess.process-model li span {
        font-size: 23px;
        height: 50px;
        line-height: 46px;
        width: 50px;
    }

    .more-icon-preocess.process-model li::after {
        top: 24px;
    }
}

@media screen and (max-width: 380px) {
    .process-model.more-icon-preocess li {
        width: 16%;
    }

    .more-icon-preocess.process-model li span {
        font-size: 16px;
        height: 35px;
        line-height: 32px;
        width: 35px;
    }

    .more-icon-preocess.process-model li p {
        font-size: 8px;
    }

    .more-icon-preocess.process-model li::after {
        top: 18px;
    }

    .process-model.more-icon-preocess {
        text-align: center;
    }
}
