/* prompt-300 - latin_thai */
@font-face {
    font-family: 'wefont';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/prompt-v1-latin_thai-300.eot');
    src: local('Prompt Light'), local('Prompt-Light'), url('../fonts/prompt-v1-latin_thai-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/prompt-v1-latin_thai-300.woff2') format('woff2'),
    url('../fonts/prompt-v1-latin_thai-300.woff') format('woff'),
    url('../fonts/prompt-v1-latin_thai-300.ttf') format('truetype'),
    url('../fonts/prompt-v1-latin_thai-300.svg#Prompt') format('svg');
}

