
@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-4">

    <div class="col-12 mb-4">
        <div class="card border-left-primary shadow">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col-12">
                        <span class="title" style="font-size: 18px;">หลักสูตร</span>
                        <h2 class="py-2">ชื่อหลักสูตร</h2>
                        <span style="font-size: 18px;">วันที่ 10 ส.ค. 62 เวลา 08:00 น. - วันที่ 11 ส.ค. 62 เวลา 17:00 น.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="design-process-section" id="process-tab">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- design process steps-->
                    <!-- Nav tabs -->
                    <ul class="nav process-model more-icon-preocess" role="tablist">
                        <li class="active">
                            <a href="#discover" aria-controls="discover" role="tab" data-toggle="tab">
                                <i class="fa fa-search" aria-hidden="true"></i>
                                <p>Discover</p>
                            </a>
                        </li>
                        <li>
                            <a href="#optimization" aria-controls="optimization" role="tab" data-toggle="tab">
                                <i class="fa fa-qrcode" aria-hidden="true"></i>
                                <p>Optimization</p>
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#reporting" aria-controls="reporting" role="tab" data-toggle="tab">
                                <i class="fa fa-clipboard" aria-hidden="true"></i>
                                <p>Reporting</p>
                            </a>
                        </li>
                    </ul>
                    <!-- end design process steps-->
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="discover">
                            <div class="design-process-content">
                                <h3 class="semi-bold">Discovery</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="optimization">
                            <div class="design-process-content">
                                <h3 class="semi-bold">Optimization</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat</p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="reporting">
                            <div class="design-process-content">
                                <h3>Reporting</h3>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincid unt ut laoreet dolore magna aliquam erat volutpat. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

@section Scripts
{
    <script>
        // script for tab steps
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var href = $(e.target).attr('href');
            var $curr = $(".process-model  a[href='" + href + "']").parent();

            $('.process-model li').removeClass();

            $curr.addClass("active");
            $curr.prevAll().addClass("visited");
        });
        // end  script for tab steps
    </script>
}

