@model Weable.TMS.BO.Web.Models.ListAttendeeModel

    <div class="card shadow h-100">
        <div class="card-body">
            <form>
                <div class="form-row">
                    <div class="form-group col">
                        <input placeholder="ชื่อหลักสูตร" class="form-control" />
                    </div>
                    <select class="form-control">
                        <option value="value">- สถานะ -</option>
                    </select>
                    <div class="form-group col">
                        <button class="btn btn-primary float-right"><i class="fa fa-search"></i>&ensp;ค้นหา</button>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-md-12">
                    <button id="btn-add" class="btn btn-primary"><i class="fa fa-plus"></i>&ensp;เพิ่มหลักสูตร</button>
                </div>
            </div>
        </div>
    </div>